#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  /*border: 2px solid black;*/
}

@font-face {
  font-family: "Tentacle";
  src: url("../assets/fonts/DayOfTheTentacle-vnBL.ttf");
}

@font-face {
  font-family: "Pixeboy";
  src: url("../assets/fonts/Pixeboy-z8XGD.ttf");
}

@font-face {
  font-family: "Wolf";
  src: url("../assets/fonts/wolfenstein.ttf");
}
