#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background: transparent;  
}

@font-face {
  font-family: "Tentacle";
  src: url("../assets/fonts/DayOfTheTentacle-vnBL.ttf");
}

@font-face {
  font-family: "Pixeboy";
  src: url("../assets/fonts/Pixeboy-z8XGD.ttf");
}

@font-face {
  font-family: "Wolf";
  src: url("../assets/fonts/wolfenstein.ttf");
}

@font-face {
  font-family: "HandWritten";
  src: url("../assets/fonts/handWritten.ttf");
}

@font-face {
  font-family: "Cooking";
  src: url("../assets/fonts/Cooking.ttf");
}

#back {
  /* background: url("./assets/kitchen_level/peeled_onion_back.png"); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 1200px;
  background-size: cover;
}
